.main-container {
  color: rebeccapurple;
}

.nav-bar {
  display: flex;
  padding: 20px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: honeydew;
  width: 100%;
  box-shadow: 5px 10px 18px #a5a5a5;
  background-color: #282c34;
}

.nav-title {
  padding: 10px;
  font-family: "Poppins";
}

.nav-subtitle {
  font-weight: lighter;
  font-size: 15px;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
